/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.bg-neon {
  background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
}

.bg-forest {
  background: linear-gradient(135deg, #134e5e, #71b280);
}


.bg-hyper-glow {
  background: linear-gradient(135deg, #ff6ec4, #7873f5);
}
