/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-shadow {
   text-shadow: 2px 2px 5px cyan;
  color: #fff;
}
.text-shadow2 {
  text-shadow: 0 0 4.5px #131414;
}
.text-glow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

